h1 {
  text-align: center;
  background-color: yellow;
  color: blue;
}

footer {
  /* text-align: center; */
  margin-top: 20px;
  background-color: yellow;
  color: blue;
}

li {
  font-weight: bold;
  margin: 10px;
  color: darkblue;
}

span {
  font-weight: bold;
  color: blue;
}